* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Palette {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 100%;
  margin: auto;
}
.Palette-colors {
  width: 100%;
  height: 100%;
  background: rgb(235, 232, 232);
  padding: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 25vh;
  margin: 5px;
  position: relative;
}
.Color-box .copy-button {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  display: none;
  width: 100px;
  height: 30px;
  outline: none;
  color: #fff;
  background: rgb(255, 204, 255, 0.4);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid rgb(240, 199, 199);
}
.Color-box:hover .copy-button {
  display: block;
  transition: 3s ease-in;
}
.box-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
  font-size: 11px;
}
.see-more {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  background: rgb(255, 204, 255, 0.4);
  color: white;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: scale(0.1);
}
.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}
.copy-msg {
  position: fixed;
  top: 45%;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  transform: scale(0.2);
  background: rgba(0, 0, 0, 0.1);
  width: 90vw;
  margin: auto;
  border-radius: 0.5rem;
  color: #fff;
}
.copy-msg.show {
  opacity: 1;
  z-index: 25;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
}
.copy-msg p {
  font-size: 2rem;
  font-weight: 100;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.color-select {
  justify-content: flex-end;
}
.slider {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  border: 0.5px solid #6b7a71;
}
.slider span {
  background: #bde4c9;
  padding: 1rem;
  width: 8rem;
  margin-right: 0.3rem;
  font-size: 0.9rem;
}
.rc-slider-track {
  background: transparent;
}

.rc-slider-rail {
  height: 8px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: #08b13b;
  outline: none;
  border: 2px solid #10e750;
  box-shadow: none;
  width: 1rem;
  margin-left: -7px;
  margin-top: -5px;
}

@media screen and (max-width: 500px) {
  .Palette-colors {
    display: block;
    height: 100vh;
    margin: auto;
  }
  .Color-box {
    width: 80vw;
    height: 14vh;
  }
}
